<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso gasto</h4>

        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Tipo</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of incomesExpenses | sortIncomesExpenses">
              <td>{{ item.description }}</td>
              <td>{{ item.amount | currency:'EUR' }}</td>
              <td [ngClass]="item.type === 'income' ? 'text-success' : 'text-danger'">
                {{ item.type === 'income' ? 'Ingreso' : 'Gasto' }}
              </td>
              <td>{{ item.date | date: 'dd/mm/yyyy - h:mm a'}}</td>
              <td>
                <button type="button" class="btn btn-danger" (click)="borrar(item.description, item.uid)">
                  <i class="fa fa-trash"></i> Borrar
                </button>
              </td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
