<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Gasto</h4>
        <p class="card-description">Especifique la cantidad y el tipo</p>
        <form [formGroup]="incomeExpenseForm" (ngSubmit)="save()">
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              name="descripcion"
              formControlName="description"
            />
          </div>
          <div class="form-group">
            <label>Cantidad</label>
            <input
              type="number"
              class="form-control"
              placeholder="Cantidad"
              name="amount"
              formControlName="amount"
            />
            <p>Debe de ser una cantidad positiva</p>
          </div>
          <div class="form-group">
            <label>Tipo</label>
            <br />
            <div class="radio-wrapper ml-3">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="type"
                  id="income"
                  value="income"
                  formControlName="type" />
                <label class="form-check-label" for="income"> Ingreso </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="type"
                  id="expense"
                  value="expense"
                  formControlName="type" />
                <label class="form-check-label" for="expense"> Gasto </label>
              </div>

              <!-- <button *ngIf="type ==='income'" type="button" class="btn btn-primary btn-block" (click)="type = 'income'">
                Ingreso
              </button>
              <button *ngIf="type ==='expense'" type="button" class="btn btn-warning btn-block" (click)="type = 'expense'">
                Gasto
              </button> -->
            </div>
          </div>
          <hr />
          <button type="submit" class="btn btn-success mr-2"
            [disabled]="loading || incomeExpenseForm.invalid" >
            <i [className]="!loading ? 'fa fa-save' : 'fa fa-spin fa-sync'"></i>
            {{ !loading ? 'Agregar' : 'Espere por favor...' }}
          </button>
          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [template]="loadingTemplate">
  </ngx-loading>
</div>
