<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4">Registro</h2>
        <div class="auto-form-wrapper">

          <form [formGroup]="registerForm" (ngSubmit)="createUser()">

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" formControlName="name" placeholder="Nombre">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="registerForm.get('name').valid" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Correo">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="registerForm.get('email').valid" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i *ngIf="registerForm.get('password').valid" class="fa fa-check-circle"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button *ngIf="!loading" type="submit" class="btn btn-primary submit-btn btn-block" [disabled]="registerForm.invalid">Crear
                cuenta</button>

              <button *ngIf="loading" type="button" class="btn btn-primary submit-btn btn-block" [disabled]="true">
                <i class="fa fa-spin fa-sync"></i>
                Espere...</button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">ya tienes una cuenta?</span>
              <br>
              <a routerLink="/login" class="text-black text-small">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading [show]="loading" [template]="loadingTemplate">
  </ngx-loading>
</div>
