<div class="row">
  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">

        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-money-bill-alt text-success icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Ingresos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ totalIncomes | currency:'EUR' }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Porcentaje de ingresos {{ incomesPercent | percent }}
        </p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card card-statistics">
      <div class="card-body">

        <div class="clearfix">
          <div class="float-left">
            <i class="fa fa-shipping-fast text-danger icon-lg"></i>
          </div>
          <div class="float-right">
            <p class="mb-0 text-right">Gastos</p>
            <div class="fluid-container">
              <h3 class="font-weight-medium text-right mb-0">{{ totalExpenses | currency:'EUR' }}</h3>
            </div>
          </div>
        </div>
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Porcentaje de gastps {{ expensesPercent | percent}}
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row m-5 justify-content-md-center">

  <div class="col-12">
      <div class="card card-statistics">
        <div class="card-body">

            <div class="clearfix">
                <div class="float-left">
                  <i class="fa fa-building text-info icon-lg"></i>
                </div>
                <div class="float-right">
                  <p class="mb-0 text-right">Diferencia</p>
                  <div class="fluid-container">
                    <h3 [class.text-success]="totalIncomes - totalExpenses > 0"
                        [class.text-danger]=" totalIncomes - totalExpenses < 0"
                        class="font-weight-medium text-right mb-0">
                          {{ totalIncomes - totalExpenses | currency: 'EUR' }}
                    </h3>
                  </div>
                </div>
              </div>


        </div>
    </div>
  </div>

  <div class="col-12 p-5 wapper-chart" *ngIf="totalExpenses > 0 || totalIncomes > 0">
      <div class="card card-statistics">
        <div class="card-body">
          <h1 class="card-title">Gráfica</h1>

          <div style="display: block">
            <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              chartType="doughnut">
            </canvas>
          </div>

        </div>
      </div>
  </div>

</div>
