<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="d-block text-center text-sm-left d-sm-inline-block">Derechos reservados © 2020
      <a href="https://gitlab.com/Balsalobre" target="_blank">Carlos Balsalobre Orenes</a>.</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Creado con el <i class="fa fa-heart text-danger"></i>
    </span>
  </div>
</footer>
